*{
    font-family: sans-serif;
    color: black;
}
#main-container{
    width: 600px;
    height: 350px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    background-image: url(../img/city.jpg);
}
#bomb{
    width: 10vh;
    display: none;
}
#typing{
    align-items: center;
    text-align: center;
    color: black;
    font-size: 3vh;
}
.overall-container{
    max-width: 700px;
    border: 20px;
    border-color: blue;
    margin: 20px auto;
    background-color: gray;
}
h1{
    margin-left: 200px;
    font-size: 3vw;
}
p{
    font-size: 1.5vw;
    margin-left: 1.5vh;
}
h2{
    font-size: 2vw;
    margin-left: 1.5vh;
}
button{
    color: black;
}